* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hand {
  cursor: pointer;
}

.config{
  position: relative;
  z-index: 3;
  display: flex;
  height: 100vh;
  align-items: center;
  background:#2561b8;
}
.config input,
.config button {
  flex:1;
}

input {
  border:0;
  height:30px;
  padding:5px;
  text-align: center;
  outline: none;
  width:100%;
}

button {
  border:0;
  height:30px;
  padding:5px;
  background:#eee;
}

.progress{
  position: absolute;
  top: 0;
  left:0;
  height:100vh;
  background:#2561b8;
  width: 100%;
}

.clock {
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:#444;
  z-index: 2;
  font-size: 20px;
}